<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleLogin.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>
    <div class="fondo"></div>
    <div class="difuminacion"></div>
    <div class="contenido">
        <div class="contLogo">
            <img class="logo" src="/static/ModuloUsuarios/img/Logo.png">
            <a href="{%url 'Inicio'%}" style="position: absolute;margin: -20px 100px ;color: aliceblue;text-decoration: none; font-size: 20px;" >Inicio</a>
        </div>
        <form method="POST">
            {%csrf_token%}
            <h1>{% if request.path == '/IniciarSesion/'%}Iniciar Sesión{% endif %}{% if request.path == '/InformacionUsuario/RecuperarContraseña/'%}Recuperar Contraseña{% endif %}</h1>
            <div class="form">
                <div class="flexbox">
                    {{form.username}}
                    <label class="lbl-nombre">
                    <span class="text-nomb"><strong>Ingrese El Nombre De Usuario</strong></span>
                </label>
                </div> <br>
                <div class="flexbox">
                    {{form.password}}
                    <label class="lbl-nombre">
                    <span class="text-nomb"><strong>Contraseña</strong></span>
                </label>
                </div>
            </div><br>
            <button type="submit" class="boton"><strong>Ingresar</strong></button>
            <div class="ayuda {% if request.path == '/InformacionUsuario/RecuperarContraseña/'%}activar{% endif %}">
                {% if request.path == '/IniciarSesion/'%}<a href="{%url 'RecuperarContraseña'%}}">¿Olvide mi contraseña?</a>
                <a href="{%url 'Registro'%}">Registrarme</a>{% endif %}{% if request.path == '/InformacionUsuario/RecuperarContraseña/'%}
                <a href="{%url 'IniciarSesion'%}">Iniciar Sesión</a>{% endif %}

            </div>
        </form>
        {{token}}
    </div>

    {% if random %}
    <div class="mensajes">
        <li>{{random}}<br></li>
    </div> {% endif %}
    <script src="{% if request.path == '/IniciarSesion/'%}/static/ModuloUsuarios/js/mainLogin.js{% endif %}"></script>
</body>

</html>