.fondo {
    background-color: #fff;
    position: absolute;
    top: 0px;
    min-height: 100%;
    background-size: cover;
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    height: 100%;
}

.difuminacion {
    position: absolute;
    border-radius: 20px;
    width: 73%;
    height: 98%;
    left: 14%;
    top: 1%;
    background: rgba(83, 6, 119, 0.8);
    filter: blur(10px);
}

.contenido {
    position: absolute;
    border-radius: 20px;
    width: 71%;
    height: 96%;
    left: 15%;
    top: 2%;
    background: rgba(83, 6, 119, 0.6);
    box-shadow: inset 4px 4px 4px 4px rgba(255, 255, 255, 0.25);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px auto;
}

.contLogo {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(44, 19, 106, 0.588041) 35.94%, rgba(124, 24, 171, 0.12) 100%);
    display: flex;
    justify-content: center;
}

.logo {
    width: 125px;
    height: 100px;
}

.flexbox {
    position: relative;
    width: 90%;
    height: 55px;
    margin: 0 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    overflow: hidden;
}

form {
    position: relative;
    width: 100%;
    font-family: Ginto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #fff;
    position: relative;
    overflow: auto;
    top: 0;
    margin-top: -100px;
    margin-left: 2.5%;
    display: grid;
    grid-template-columns: 1fr;
}

form::-webkit-scrollbar {
    width: 5px;
}

form::-webkit-scrollbar-thumb {
    background: transparent;
}

form h1 {
    text-align: center;
    margin-left: -5%;
}

.flexbox input {
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding: 10px 20px 0px 20px;
    margin-bottom: -15px;
    border: none;
    outline: 0px;
}

.flexbox.lbl-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.flexbox.lbl-select label {
    position: relative;
    width: 100%;
    margin-bottom: -20px;
    padding: 0px;
}

.flexbox.lbl-select select {
    position: relative;
    width: 100%;
    font-family: 'Tahoma';
    background-color: rgba(254, 254, 254, 1);
    border-color: -internal-light-dark(rgb(212, 212, 212), rgb(255, 255, 255));
    border-image: none;
    border-radius: 5px;
    margin-bottom: -35px;
}

@media (max-width:700px) {
    .flexbox.lbl-select label {
        position: relative;
        width: 100%;
        margin-bottom: -25px;
        padding: 0px;
    }
    .flexbox.lbl-select select {
        position: relative;
        width: 100%;
        font-family: 'Tahoma';
        background-color: rgba(254, 254, 254, 1);
        border-color: -internal-light-dark(rgb(212, 212, 212), rgb(255, 255, 255));
        border-image: none;
        border-radius: 5px;
        margin-bottom: -45px;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    margin-right: 4px;
    opacity: 1;
    filter: invert(1);
}

.flexbox .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid #c7c7c7;
}

.flexbox .lbl-nombre::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-110%);
    transition: 0.08s ease;
}

.frid {
    display: grid;
    grid-template-columns: 1fr 0 1fr 0;
}

.text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: 0.1s ease;
    color: #fff;
}

.flexbox input:focus+.lbl-nombre .text-nomb,
.flexbox input:valid+.lbl-nombre .text-nomb {
    transform: translateY(-120%);
    font-size: 14px;
    color: #2ecece;
}

.flexbox input:focus+.lbl-nombre::after,
.flexbox input:valid+.lbl-nombre::after {
    transform: translateX(0%);
}

.boton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: 2px solid #fff;
    width: 80%;
    height: 50px;
    margin: 60px 7.5%;
    font-size: 20px;
    transition: all 0.2s ease;
}

.boton:hover {
    border: 2px solid #2ecece;
    color: #2ecece;
    text-shadow: 0.4px 0.4px #fff;
}

.ayuda {
    width: 90%;
    margin: 0 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ayuda a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}

.ayuda.activar {
    width: 90%;
    margin: 0 2.5%;
    position: absolute;
    bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.ayuda.activar a {
    text-align: end;
}

.ayuda a:hover {
    color: #2ecece;
}