/*-------------------------DiseÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â±o bloques de informaciÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â³n--------------------*/

.Admin.Events {
    margin: 10px 5%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Admin.Events .Information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    .Admin.Events .Information {
        margin: 0 40%;
    }
}

.Admin.Events .Information .cardbox {
    position: relative;
    width: 200px;
    height: 100%;
    margin: 15px;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
}

.Admin.Events .Information .cardbox .Card {
    width: 100%;
    display: grid;
    cursor: pointer;
    grid-template-columns: 75% 25%;
}

.Admin.Events .Information .cardbox .Card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: #a200ff;
}

.Admin.Events .Information .cardbox .Card .cardName {
    color: #3d3d3d;
    font-size: 1.1em;
    margin-top: 5px;
}

.Admin.Events .Information .cardbox .iconA {
    font-size: 3.5em;
    color: #3d3d3d;
}




/*-------------------------Fin DiseÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â±o bloques de informaciÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â³n--------------------*/

.Perfil_modificar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #DDDDDD;
    box-shadow: none;
    padding: 25px;
    height: 90vh;
    border-radius: 15px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
}

.Perfil_modificar-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    overflow: auto;
}

.Perfil_modificar-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    background-color: #fff;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.Perfil_modificar-header h5 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.Perfil_modificar-titulo {
    margin-bottom: 0;
    line-height: 1.5;
}

.Perfil_modificar-header .btn-close {
    padding: 0;
    margin: -0.5rem -0.5rem -0.5rem auto;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: 1;
}

.Perfil_modificar-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.5rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    border-top: 2px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.Perfil_modificar-footer button {
    margin: 0 10px;
}
