{% extends "Menu_Usuario.html" %} 
{%load static%}

{% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Configuracion/css/estilo.css">
    <title>Inicio</title>
    
</head>{% endblock head %} 
{% block Contenido %} 

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  <div>
    {%if Cambios%}
    {%for cambios in Cambios%}
    <div class="contenedorcambios">
      <div class="ContenedorMision">
        <div class="ContMision">
          <div class="recuadro" id="texto">
            <h4 id="text" class="tipo">MISIÓN</h4>
            <p id="text2" class="tipo">{{cambios.Texto_Mision}}</p>
            <h4 id="text" class="tipo">VISIÓN</h4>
            <p id="text2" class="tipo">{{cambios.Texto_Vision}}</p>
          </div>
        </div>
      </div>
    </div>
    
    {%endfor%}
    {%else%}
    <h1>No hay registros</h1>
    {%endif%}
  </div>

    {%if footer%}
    {%for cambiosFooter in footer%}
    <div class="recuadro" id="texto">
      <h1>Contactenos</h1>
    <a href="https://wa.me/{{cambiosFooter.Telefono}}" target="_blank" ><img class="imgwhats" src="{%static 'Configuracion/img/whatsapp.png'%}" ></a><hr>
    <h3>Direccion: {{cambiosFooter.Direccion}}</h3><hr>
    <h3>&copy;Todos los derechos reservados Ekiria {{cambiosFooter.Derechos}} - Sena</h3><hr>
  </div>
    {%endfor%}
    {%else%}
    <h1>No hay registros</h1>
    {%endif%}
{% endblock Contenido %} 

