{% include "preloader.html" %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Usuario</title>

    {% endblock head %}
    
</head>
<!--                            Zona de menú Horizontal header tamaño maximo 50px                  -->
<header>
</header>

<body>
    {%csrf_token%}
    <div class="grid">
        <!--          Creación del menú lateral        -->
        <div class="backnav">
            <nav class="nav">
                <div class="menul">
                    <!--Para usar los bloques li copiad y pegar toda la info, ademas agregad la clase activar a la parte donde esta parada-->

                    <!--           Zona de links de navegación     -->
                    <div class="Perfil">
                        <a href="">
                            <img src="/static/Proyecto_Ekiria/Img/profile.png" class="foto_perfil">
                            <p class="escon">Nombre de Usuario <sup>Rol</sup> </p>
                        </a>
                    </div>
                    <ul class="list_content">
                        <li class="list_item list_item--click">

                            <div class="list  {% if request.path == '/Inicio/'%}activar{% endif %}">
                                <i class="mdi mdi-home centrado"></i>
                                <a class="nav_link escon" href="{%url 'Inicio'%}"> Inicio</a>
                            </div>
                        </li>
                        <li class="list_item list_item--click">
                            <div class="list 
                            {%if request.path == '/InformacionUsuario/Administracion/'%}activar{% endif %}
                            {%if request.path == '/InformacionUsuario/Administracion/'%}activar{% endif %}
                            ">
                                <i class="mdi mdi-view-dashboard centrado"></i>
                                <a class="nav_link escon"> Configuración</a>
                                <i class="list_arrow mdi mdi-chevron-right escon"></i>
                            </div>
                            <ul class="list_show">
                                <li class="nav_link--inside"><a href="{%url 'Administracion'%}">Administración de Usuarios</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Configuracion'%}">Administración</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Roles'%}">Roles del usuario</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Cambios'%}">Cambios de pagina</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Permisos'%}">Permisos</a></li>
                                <br>
                            </ul>
                        </li>
                        <li class="list_item list_item--click">
                            <div class="list 
                                {% if request.path == '/compras/listarprov/'%}activar{% endif %} 
                                {% if request.path == '/compras/productos/'%}activar{% endif %}
                                {% if request.path == '/compras/confcompra/'%}activar{% endif %}list_button--click">
                                <i class="mdi mdi-archive centrado"></i>
                                <a class="nav_link escon"> Productos</a>
                                <i class="list_arrow mdi mdi-chevron-right escon"></i>
                            </div>
                            <ul class="list_show">

                                <li class="nav_link--inside"><a>Proveedor</a></li>
                                <li class="nav_link--inside"><a>Productos</a></li>
                                <li class="nav_link--inside"><a>Compras</a></li>
                                <br>
                            </ul>
                        </li>

                        <li class="list_item list_item--click">
                            <div class="list 
                            {% if request.path == '/Ventas/Catalogo/'%}activar{% endif %} 
                            {% if request.path == '/Ventas/Calendario/'%}activar{% endif %}
                            {% if request.path == '/Ventas/terminarPedido/'%}activar{% endif %}
                            {% if request.path == '/Ventas/PersonalizarSer/'%}activar{% endif %}
                            {% if request.path == '/Ventas/DetalleCita/'%}activar{% endif %} 
                            {% if request.path == '/Ventas/AdminVentas/'%}activar{% endif %}
                            {% if request.path == '/Ventas/AgregarServicio/'%}activar{% endif %}
                            {% if request.path == '/Ventas/ListadoServicios/'%}activar{% endif %}
                            {% if request.path == '/Ventas/EditarServicio/'%}activar{% endif %} 
                            {% if request.path == '/Ventas/AgregarCita/'%}activar{% endif %}
                            {% if request.path == '/Ventas/ListadoCitas/'%}activar{% endif %}
                            {% if request.path == '/Ventas/EditarCita/'%}activar{% endif %}
                            list_button--click">
                                <i class="mdi mdi-basket centrado"></i>
                                <a class="nav_link escon"> Servicios</a>
                                <i class="list_arrow mdi mdi-chevron-right escon"></i>
                            </div>
                            <ul class="list_show">

                                <li class="nav_link--inside"><a href="{%url 'Ventas:catalogo'%}">Catalogo</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Ventas:calendario'%}">Calendario</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Ventas:adminVentas'%}">Administración de ventas</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Ventas:listarServicios'%}">Servicios</a></li> 
                                <li class="nav_link--inside"><a href="{%url 'Ventas:listarCitas'%}">Citas</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Ventas:agregarCita'%}">Agregar cita</a></li>
                                <li class="nav_link--inside"><a href="{%url 'Ventas:agregarServicio'%}">Agregar Servicios</a></li>
                                <br>
                            </ul>
                        </li>
                    </ul>
                    <li class="salir" id="salir">
                        <div class="cerrar">
                            <a href="{% url 'IniciarSesion' %}" class="icon"><i class="mdi mdi-power centrado"></i> </a>
                            <a href="{% url 'IniciarSesion' %}" class="escon text"> Cerrar Sesión</a>
                        </div>
                    </li>
                </div>
            </nav>
        </div>

        <div class="toggle ">
            <i class="abrir fas fa-bars "></i>
            <i class="cerrar fas fa-times "></i>
        </div>

        <div class="content ">

            <div class="fondo "></div>
            <div class="relle">

                <img href="{%url 'Inicio'%} " class="Logo " src="/static/Proyecto_Ekiria/Img/Logo Ekiria.png " width="179 " height="50 ">
                <div class="menus">

                    <ul>
                        <li><a class="links " href="# "><i class="mdi mdi-account-group " style="margin-top: -3px; "></i><p class="atext ">Nosotros</p></a></li>
                        <div class="notification-box ">
                            <ul class="list-inline mb-0 ">
                                <li>
                                    <a href="{%url 'Notify'%}" class="right-bar-toggle ">
                                        <i class="mdi mdi-bell noti-icon "></i>
                                    </a>
                                    <div class="noti-dot " style="margin-left: -6px; ">
                                        <span class="dot "></span>
                                        <span class="pulse "></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <li><a href="/Ventas/Carrito/ " type="button " class=" btn position-relative " data-bs-toggle="offcanvas " data-bs-target="#Carrito " aria-controls="offcanvasTop " style="margin-top: -7px; "><i class="fas fa-shopping-cart
                            "></i><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger "> 
                            {% if request.session.carrito %}
                            {{request.session.carrito}}
                            {% else %}
                            0
                            {% endif %}
                                </span></a></li>
                    </ul>
                </div>

                <div class="contentDiv" id="div">

                    {% block Contenido %}
                    <div>
                        <input type="search ">
                    </div>

                    <li><a href="{% url 'Ventas:carrito' %}" type="button" class=" btn position-relative" style="margin-top: -7px;"><i class="fas fa-shopping-cart"></i><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span></a></li>
                </ul>
            </div>

                    <div>Hola 2</div>
                    {% endblock Contenido %}

                </div>
            </div>
        </div>

    </div>
    <!---->{%block scripts%} {%endblock scripts%}
    <script src="/static/Proyecto_Ekiria/js/jsMenuL.js "></script>
    <script src="/static/Proyecto_Ekiria/assets/js/jquery.app.js "></script>
    <script src="/static/Proyecto_Ekiria/assets/plugins/jquery-ui/jquery-ui.min.js "></script>
    <script src="/static/Proyecto_Ekiria/assets/plugins/moment/moment.js "></script>
    <script src='/static/Proyecto_Ekiria/assets/plugins/fullcalendar/js/fullcalendar.min.js'></script>
    <script src="/static/Proyecto_Ekiria/assets/pages/jquery.fullcalendar.js "></script>

</body>

</html>



