<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleLogin.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>
    <div class="fondo"></div>
    <div class="difuminacion"></div>
    <div class="contenido">
        <div class="contLogo">
            <img class="logo" src="/static/ModuloUsuarios/img/Logo.png">
        </div>
        <form method="POST">
            {%csrf_token%}
            <h1>Cambiar Contraseña</h1>
            <div class="form">
                <div class="flexbox">
                    {{form.password1}}
                    <label class="lbl-nombre">
                    <span class="text-nomb"><strong>Ingrese El Nombre De Usuario</strong></span>
                </label>
                </div> <br>
                <div class="flexbox">
                    {{form.password2}}
                    <label class="lbl-nombre">
                    <span class="text-nomb"><strong>Contraseña</strong></span>
                </label>
                </div>
            </div><br>
            <button type="submit" class="boton"><strong>Cambiar</strong></button>
            <div class="ayuda {% if request.path == '/InformacionUsuario/RecuperarContraseña/'%}activar{% endif %}">
                <a href="{%url 'EditarPerfil'%}">Volver</a>
            </div>
        </form>
        {{token}}
    </div>

    <script src="{% if request.path == '/IniciarSesion/'%}/static/ModuloUsuarios/js/mainLogin.js{% endif %}"></script>
</body>

</html>