{% load static    %}
<style>
    .img_detailService img{
        border-radius: 15px !important
    }
    .text_detailService{
        background-color: rgba(59, 21, 107, 0.089);
        width: 390px;
        height: auto;
        padding: 5px 20px;
        margin-left: 30px;
        text-align: left !important;
        word-wrap: break-word;
        
    }
    .text_detailService p{
        text-align: left !important;
        font-size: 15px;
    }
</style>
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de: <strong class="text-uppercase">{{object.nombre}}</strong> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h3 style="background-color: rgba(59, 21, 107, 0.089);">{{object.nombre}} cuesta ${{object.precio}}</h3>
          <br>
        <div class="img_detailService">
            <img src="/media/{{object.img_servicio}}" class="img-fluid rounded mx-auto d-block img_Detail" alt="">
        </div>
        <br>
        <div class="text_detailService">
            <p class="text-center">{{object.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>