/* variable definition */

<<<<<<< HEAD
*{
    --black:#000000;
    --menu_color:#0f0f0f;
    --white:#fff;
    --ShinyPurple:#800080;
}
=======

>>>>>>> ee93a19a13196078d1d8883ee1a35f83d1b93435
/* End variable definition */