<!DOCTYPE html>
<html>

<head>
    <title>Sin Permisos</title>
</head>

<body>
    <div style='font-size: 35px; text-align: center; color: #000; '>¡No Has iniciado sesión!</div><br>
    <div style="display: flex; justify-content: center;">
        <h1 style='margin-top: 40%;'><img src="/static/Proyecto_Ekiria/Img/Logo Ekiria.png" style="width: 30px; height: 30px; "><span class='resaltado' style='color: #000; font-weight: bold; font-size: 25px; margin-top: -25px;'>kiria</span></h1>
    </div>
    <div style="display: flex; justify-content: center;"><button style=' border-radius: 10px;background-color:#800080;'><a  href="{%url 'IniciarSesion'%}" style='color:#fff; font-size: 20px; text-decoration: none;'>Iniciar sesion</a></button></div>
</body>

</html>