{% extends "Menu_Usuario.html" %} 
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <link rel="stylesheet" href="{% static 'Ventas/css/Ventas.css' %}">
   <link rel="icon" href="{% static 'Proyecto_Ekiria/Img/Logo Ekiria.png' %}">
   <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.15.4/css/all.css">
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
   <link rel="stylesheet" href="/static/Ventas/css/bootstrap.min.css">
   <!-- calendario -->
   <!-- <link rel="stylesheet" href="/static/Ventas/plugins/fullcalendar/css/fullcalendar.min.css">
   <link rel="stylesheet" href="/static/Ventas/css/style.css"> -->

 

</head>
{% endblock head %}

{% block Contenido %}
<h1>Calendario</h1>
<div class="row">
    <div class="col-7">{% include "CalendarioP.html" %}</div>
    <div class="col-4 ContainerHistorialCitas">
        <legend>Historial</legend>
        <table class="table  historialCitas">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Total</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">01-01-2022</th>
                <td>$33.000</td>
                <td><div class="containerEstadoCita EnEspera"><p class="EstadoCitaTextoCalendario">En espera</p></div></td>
                <td><a href="{% url 'Ventas:detalleCita' %}" class="LinkDetalleCita"><i class="fas fa-info-circle verMasDetalleCitaCalendario"></a></i></td>
              </tr>
              <tr>
                <th scope="row">02-10-2021</th>
                <td>$50.000</td>
                <td><div class="containerEstadoCita Cancelado"><p class="EstadoCitaTextoCalendario">Cancelado</p></div></td>
                <td><a href="{% url 'Ventas:detalleCita' %}" class="LinkDetalleCita"><i class="fas fa-info-circle verMasDetalleCitaCalendario"></a></i></td>
              </tr>
              <tr>
                <th scope="row">07-09-2021</th>
                <td>$25.000</td>
                <td><div class="containerEstadoCita Realizado"><p class="EstadoCitaTextoCalendario">Realizado</p></div></td>
                <td><a href="{% url 'Ventas:detalleCita' %}" class="LinkDetalleCita"><i class="fas fa-info-circle verMasDetalleCitaCalendario"></a></i></td>
              </tr>
            
              
            
            </tbody>
          </table>
    </div>
</div>

<!-- scripts -->
<!-- <script src="/static/Ventas/js/bootstrap.min.js"></script>
<script src="/static/Ventas/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/Ventas/plugins/moment/moment.js"></script>
<script src="/static/Ventas/plugins/fullcalendar/js/fullcalendar.min.js"></script>
<script src="/static/Ventas/js/jquery.fullcalendar.js"></script> -->


{% endblock Contenido %}