{% extends "Menu_Usuario.html" %} 
{% load static %}

{% block head %}
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Catalogo</title>
   <link rel="stylesheet" href="{% static 'Ventas/css/Ventas.css' %}">
   <link rel="icon" href="{% static 'Proyecto_Ekiria/Img/Logo Ekiria.png' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   
</head>
{% endblock head %}

<!--     Empieza el contenido del catalogo    -->
{% block Contenido %}
<div class="body">
   <div class="container">
      <h1>Catalogo</h1>
      <br>
      <div class="row">
         <div class="col-md-3">
            <div class="box-element">
               <div align="center"><img class="img-fluid ServicePersonaliza" src="/static/Ventas/img/masMorado.png" width="200" height="200"></div>
            </div>
            <div class="box-element product" style="height: 160px;">
            <h6 ><strong><center>Personalizar Servicio</center> </strong></h6>
				<hr>
            <div class="contenedor-botones">
               <a style="position: relative; top: 17px !important" class="btn btn-outline-dark" href="{%url 'Ventas:personalizar'%}"><span>Personalizar</span></a><!--sI EL AZUL PERSISTE COLOCAR EL COLOR AQUI -->
            </div>
         </div>
         </div>
         
         {% if servicios %}
            {% for servicio in servicios %}
            
            <div class="col-md-3">
               <img class="img ImgServiceCatalogo" src="/media/{{servicio.servicio_id.img_servicio}}"  height="241">
               <div class="box-element product" style="height: 160px;">
                  <h6><strong>{{servicio.servicio_id.nombre}}</strong></h6>
                  <hr>
                  <button data-servicio="{{servicio.servicio_id.id_servicio}}" data-action="add" class="btn btn-outline-success addToCar">Al carrito!</button>
                  <a  class="btn  btn-outline-primary" onclick="abrir_modal_detalleServicio('{% url 'Ventas:detalleSer' servicio.servicio_id.slug %}')">Ver</a>
                  <hr>
                  <h6 style="float: left; color: gray;"><strong>Precio:</strong></h6>
                  <h6 style="float: right; "><strong>${{servicio.servicio_id.precio}}</strong></h6>
      
               </div>
            </div>
            {% endfor %}
               {% else %}
               <h1>No hay servicios que mostrar</h1>
         {% endif %}
            
      </div>
   </div>
</div>
<br><br>
<div class="modal fade" id="VerMasServivios" role="dialog" >
</div>
{% endblock Contenido %}


{% block modal %}
   <!-- Modal para ver detalle del servicio -->
   
    <!-- fin de la modal para ver detalle del servicio  -->

{% endblock modal %}
<!-- scripts -->
{% block scripts %}
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{%static 'Ventas/js/Ventas.js'%}"></script>
<script src="{% static 'Ventas/js/Carrito.js' %}"></script>
{% endblock scripts %}
