{% extends "Menu_Usuario.html" %} 
{%load static %}
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la cita</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">

</head>
{% endblock head %}

<!--     Empieza el contenido del catalogo    -->
{% block Contenido %}
<h1>Detalle de la cita </h1>

<div class="container">
<div class="row">
<div class="col">
    <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control">
        
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
</div>
<div class="col"><a href="{% url 'Ventas:personalizar' %}" class="btn btn-info"><i class=" fas fa-plus"></i>  Agregar Servicio Personalizao</a></div>
</div>
   <br><br>

    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Servicio</th>
                <th scope="col">Precio</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><img src="{%static 'Ventas/img/arociris.jpg'%}" class="" width="150" height="100"></td>
                <td>Uñas Sencillas</td>
                <td>$15000</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td><img src="{%static 'Ventas/img/arociris.jpg'%}" class="" width="150" height="100"></td>
                <td>Uñas Sencillas</td>
                <td>$15000</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td><img src="{%static 'Ventas/img/arociris.jpg'%}" class="" width="150" height="100"></td>
                <td>Uñas Sencillas</td>
                <td>$15000</td>

            </tr>
            <tr>
                <th scope="row">4</th>
                <td><img src="{%static 'Ventas/img/arociris.jpg'%}" class="" width="150" height="100"></td>
                <td>Uñas Sencillas</td>
                <td>$15000</td>

            </tr>
        </tbody>
    </table>

    <div class="row" style="margin-top: 20px;">
        <div class="col Datos1DetalleCita">
            <Label><strong>Fecha de la cita: </strong></Label>
            <input type="datetime-local" value="2021-06-12T19:30" style="font-size: 20px;">
        </div>
        <div class="col Datos1DetalleCita">
            <Label><strong>Total: </strong></Label>
            <input type="text" readonly value="$40.000" style="font-size: 20px;">
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col Datos1DetalleCita">
            <Label><strong>Comentarios (Cliente): </strong></Label>
            <div class="form-floating container descripcion">

                <textarea class="form-control personalizarServicio" readonly></textarea>
                <label style="font-size: 20px;">Comentario</label>
            </div>
        </div>
        <div class="col Datos1DetalleCita">
            <Label><strong>Comentarios (Empleado): </strong></Label>
            <div class="form-floating container descripcion">

                <textarea class="form-control personalizarServicio" readonly></textarea>
                <label style="font-size: 20px;">Le cobre cinco mil pesos extras porque el cliente requirió una capa de esmalte transparente
                    adicional</label>
            </div>
        </div>

        <div class="row" style="margin-top: 40px; margin-bottom: 20px;">
            <div class="col"><a href="{% url 'Ventas:calendario' %}" class="btn btn-block btn-secondary">Salir...</a></div>
            <div class="col"><a type="button" onclick="GuardarCita()" class="btn btn-block btn-success">Guardar</a></div>
            <div class="col"><a type="button" onclick="CancelarCita()" class="btn btn-block btn-danger">Cancelar Cita</a></div>
        </div>
    </div>

</div>




<!-- scripts -->
{% block scripts %}
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/static/Ventas/js/Ventas.js"></script>

{% endblock scripts %}

{% endblock Contenido %}


{% block modal %}
{% endblock modal %}