<!-- {% extends "Menu_Usuario.html" %} -->
{% load static %}
{% block head %}
<head>
  
 ttps://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

{% endblock head %}
    


{% block Contenido %}
    
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>


{% endblock Contenido %}



{% block modal %}{% endblock modal %}
  


{% block scripts %}
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script>

{% endblock scripts %}















{% comment %}
{% block head %}
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Static Example</title>

    
    <link rel="stylesheet" href="/static/Plugins/datetimepicker/jquery.datetimepicker.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/static/Plugins/datetimepicker/build/jquery.datetimepicker.full.js"></script>
    

  </head>

{% endblock head %}
    


{% block Contenido %}


<input id="datetimepicker" type="text" autocomplete="off">




{% endblock Contenido %}



{% block modal %}

  
{% endblock modal %}
  


{% block scripts %}

<script>
 $('#datetimepicker').datetimepicker();
</script>

{% endblock scripts %}
{% endcomment %}
  

