{% extends "Menu_Usuario.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminar Pedido</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/static/Plugins/datetimepicker/jquery.datetimepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet"/>
    
</head>{% endblock head %}

{% block Contenido %}
  <div class="container">
      <h1>Finalizar Compra</h1>
      <div class="row" style="margin-top: 10px;">
        <div class="col-lg-6">
          <div class="box-element" id="form-pedido">
            <form action="">
              <label class="label-control">Seleccione un empleado:</label>
             {{form.empleado_id}}
              <br>
              <div class="row">
                <div class="col-6" id="DiaCitaBox">

                  <label  class="label-control">Seleccione una Dia:</label>
                  <div class="input-group">
                    {{form.diaCita}}
                    <div class="input-group-text">
                      <i style="font-size: 15px;" class=" fa-regular fa-calendar"></i>
                    </div>
                </div>
                </div>  
                <div class="col-6" id="horaInicioBox">
                  <label class="label-control">Seleccione una Hora:</label>
                  <br>
                  <div class="input-group">
                   {{form.horaInicioCita}}
                  <div class="input-group-text">
                    <i style="font-size: 15px;" class=" fa-regular fa-clock"></i>
                  </div>
                  </div>
                  
                </div>
              </div>
              
              <br><br>
              <label class="label-control">Descripción (Opcional):</label>
              <br>
             {{form.descripcion}}
              <br><br>
              <div class="d-grid gap-2">
                <button class="btn btn-success" type="button">Continuar</button>
              </div>
            </form>
          </div>
        </div>  

        <div class="col-lg-6">
          <div class="box-element">
            <a class="btn btn-outline-secondary" href="{% url 'Ventas:carrito' %}">&#x2190;De vuelta al carrito</a>
            <hr>
            <h3>Resumen de la cita</h3>
            <hr>
            {{User}}
            {% if items %}    
                        {% for item in items %}
                        <div class="fila_carrito">
                                <div style="flex: 2;">
                                    <img class="img_carrito" src="/media/{{item.servicio_id.img_servicio}}" alt="">
                                    </div>
                                    <div style="flex: 2;">{{item.servicio_id.nombre}}</div>
                                    <div style="flex: 1;">${{item.servicio_id.precio}}</div>
                                     
                        </div>
                        {% endfor %}   
                        <h5>Items: {{pedido.get_items_carrito}}</h5>
                        <h5>Total: ${{pedido.get_total_carrito}}</h5>
                        {% else %}
                        <h5>No hay servicios que mostrar</h5>  
                        {% endif %}
                        
            
          </div>
        </div>
      </div>
      <br><br>
      <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Señor Usuario!</h4>
        <p>Recuerde que los precios de los servicios que usted este agendando puede variar, este es un precio base, pero si al momento de prestar el servicio se requiere de más materiales estos serán cobrados </p>
        <hr>
        <p class="mb-0">Para más información escriba a nuestro WhatsApp <strong>1234567890</strong> o escribanos a nuestro correo <strong>servicioalcliente@ekiria.com</strong> lo atenderemos lo mas pronto posible .</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

     
      
  </div>
 
  
  <br>

{% endblock Contenido %}

{% block scripts %}
<!-- <script src="{% static 'Plugins/Datepicker/datepicker.min.js' %}"></script> -->
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/Plugins/datetimepicker/build/jquery.datetimepicker.full.js"></script>
<script src="{% static 'Ventas/js/Carrito.js' %}"></script>
<script>
  $.datetimepicker.setLocale('es');
  //funcion que busca horas disponibles
  function ejecutarReloj(horas){
  $('#horaInicio').datetimepicker({
  formatTime:"g:i a",
  format:'g:i A',
  datepicker:false,
  allowTimes:horas
})
}

  //buscar dia cita
  $("#DiaCita").datetimepicker({
  timepicker:false,
    format:'d/m/Y',
    minDate: 0,
    onChangeDateTime:function(dp,$input){
      let empleado=$("#empleado").val()
      $.ajax({
        type: "POST",
        url: "/Ventas/BuscarEmpleadoParaCita/",
        data: {"csrfmiddlewaretoken":csrftoken,"accion":"BuscarDiaDeEmpleado","empleado":empleado,"dia":$input.val()},
        success: function(response){
          jQuery("#horaInicioBox").css("display", "block")
          var horas = response["horasDisponibles"]
          ejecutarReloj(horas)
        }
      })
    },
    disabledDates:['2022/03/17'],
  })
  //buscar empleado
  $("#empleado").on("change", function(){
    let empleado=this.value
    $.ajax({
        type: "POST",
        url: "/Ventas/BuscarEmpleadoParaCita/",
        data: {"csrfmiddlewaretoken":csrftoken,"empleado":empleado,"accion":"BuscarEmpleado"},
        success: function (response){
          $("#DiaCitaBox").css("display", "block")
        }
        
      });
    })

</script>
{% endblock scripts %}