{%extends 'Menu_Usuario.html'%}
    {% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Configuracion/css/estilo.css">
    <title>Permisos</title>
</head>
    {% endblock head %}
    {% block Contenido %}
    <h3 class="tituloCambios">Listado de Permisos</h3>
    <div class="principalPermisos">
        <div>
            <h3>-Permiso 1</h3>
            <div>
                <div class="color">
                    <p class="letraDes">Descripcion</p>
                    <div class="dentropermi">
                        <p>este permisos puede acceder a las funciones de el catalogo</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>-Permiso 2</h3>
            <div>
                <div class="color">
                    <p class="letraDes">Descripcion</p>
                    <div class="dentropermi">
                        <p>este permisos puede acceder a las funciones de el catalogo</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <h3>-Permiso 3</h3>
            <div>
                <div class="color">
                    <p class="letraDes">Descripcion</p>
                    <div class="dentropermi">
                        <p>este permisos puede acceder a las funciones de el catalogo</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>-Permiso 4</h3>
            <div >
                <div  class="color">
                    <p class="letraDes">Descripcion</p>
                    <div class="dentropermi">
                        <p>este permisos puede acceder a las funciones de el catalogo</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>-Permiso 5</h3>
            <div>
                <div class="color">
                    <p class="letraDes">Descripcion</p>
                    <div class="dentropermi">
                        <p>este permisos puede acceder a las funciones de el catalogo</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>-Permiso 6</h3>
            <div  >
                <div class="color">
                    <p class="letraDes">Descripcion</p>
                    <div class="dentropermi">
                        <p>este permisos puede acceder a las funciones de el catalogo</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="button"data-bs-toggle="modal" data-bs-target="#PermisosRol" id="asignar">Asignar a Roles</button>
    </div>

    {% endblock Contenido %}
    {%block scripts%}
    <div class="modal fade" id="PermisosRol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecciona el Tipo de Rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <a href="{% url 'Admin' %}">Administrador</a><br>
                        <a href="{% url 'Empleado' %}">Empleado</a><br>
                        <a href="{% url 'Cliente' %}">Cliente</a><br>
                    <br>
                    
                </div>
                    <div class="modal-footer" id="botones">
                        <button type="button" class="btn btn-warning">Confirmar</button>
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" id="cancelar">Cancelar</button>
                    </div>
            </div>
        </div>
    </div>
    {%endblock scripts%}