{%extends 'Menu_Usuario.html'%}
{%load crispy_forms_tags%}
{%load static%}
  {% block head %}
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
      <link rel="stylesheet" href="/static/Configuracion/css/estilo.css">
      <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
      <title>Roles</title>
    </head>
    {% endblock head %}
    
    {%block Contenido%}
    <h1 class="titulo">Listado De Roles</h1>
    <div class="tabla">
      <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Editar</th>
                <th scope="col">Permiso</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              {%if roles%}
              {%for Rol in roles%}
                <tr>
                  <th scope="row">{{Rol.id_rol}}</th>
                  <td>{{Rol.nombre}}</td>
                  <td>{{Rol.descripcion}}</td>
                  <td><button type="button" class="btn btn-outline-success" onclick="abrir_modal_editar ('{% url 'updateRol' Rol.id_rol %}')">Editar</button></td>
                  <td><button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#GrupoRol">Agregar <br>Nivel</button></td>
                  <td><form method="POST" action="{%url 'estado' %}" id="estadoRol" ><label class="switch"><div class="form-check form-switch"> 
                  {%csrf_token%}
                    <input class="form-check-input" {% if Rol.estado == True %}checked {%endif%} type="checkbox" name="estado" onclick="ds({{Rol.id_rol}})"></div>
                  </label></form></td> 
                </tr>
              {%endfor%}
              {%else%}
              <h1>No hay registros</h1>

              {%endif%}
            </tbody>
      </table>
      <div class="contNuevoRol">

        <button class="nuevoRol" type="button" onclick="abrir_modal_crear('{% url 'CreateRol' %}')">
          Crear Nuevo Rol
        </button>
        <img class="imgAgregar" src="/static/Configuracion/img/Agregar.png" type="button"data-bs-toggle="modal" data-bs-target="#CrearRol">
      </div>
    </div>

    <div class="modal fade " id="CreateRol" role="dialog">

    </div>
    <!-- Modal Editar Rol -->
    
     <div class="modal fade " id="EditarRol" role="dialog" >
      
    </div>
      
{% endblock Contenido %}

{% block modal %} 
      <!-- <div class="modal fade" id="CreateRol" role="dialog"></div> -->
<!-- Modal Crear Rol -->
<!-- <div class="modal fade" id="CrearRol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Rol</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <form method='post' id=CrearRoles action="{%url 'CreateRol'%}" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{createform.errors}} {% endcomment %}
        {{createform.errors}}
        <div id="errores"></div>
        <label for="nombreRol" >Nombre</label><br>
        {{crear.nombre}}
        <label for="descripRol" >Descripcion</label><br>
        {{crear.descripcion}}
        <br>
         <div class="modal-footer" id="botones">
        <button type="submit" class="btn btn-warning" onclick="CrearUsuario();">Confirmar</button>
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" id="cancelar">Cancelar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>  -->



<!-- Modal Permisos del Rol -->
<div class="modal fade" id="GrupoRol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear  Grupo del Rol</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <label for="nombreRol">Nombre</label>
        <input type="text" name="nombreRol" id="nombreRol"><br>
        <label for="descripRol">Descripcion</label><br>
        <textarea type="text" name="nombreRol" id="descripRol" rows="5" cols="60">¡Describe el rol!</textarea>
        <br>
        
      </div>
      <div class="modal-footer" id="botones">
        <button type="button" class="btn btn-warning">Confirmar</button>
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" id="cancelar">Cancelar</button>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}

{%block scripts%} 

<script src="/static/Configuracion/js/main.js"></script>
<script src="{%static 'Configuracion/js/erroresCrear.js'%}"></script>
<script src="/static/Configuracion/js/habilitar.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/Configuracion/js/ErroresEditar.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{%endblock scripts%}